.form-container {
  //   display: block;
  text-align: center;
  margin-top: 30px;
}

.form-buttons {
  display: flex;
  justify-content: center;

  button {
    margin: 20px;
  }
}

.workout-container {
  text-align: center;
}

.re-do-btn {
  padding: 30px;
}

.main-generate-workout {
  padding-top: 5%;
}
