.main-landing-page {
  padding-top: 5%;
}
.main-button {
  text-align: center;
  padding: 40px;
}

a {
  text-decoration: none;
}

.main-text {
  margin: 10px;
}

.landing-pg-list {
  margin-left: 35%;
  margin-right: 35%;
}
